# ZooKeeper as Registry Center Configuration Guide
# https://dubbo.apache.org/en/docs/3.0/user/configuration/registry/zookeeper/
dubbo:
  registry:
    address: zookeeper://${zookeeper.address:127.0.0.1}:2181
    # Zookeeper will be also used as registry and metadata centers by default, use the following configuration to stop using registry as metadata and config center.
    # useAsConfigCenter: false
    # useAsMetadataCenter: false
  # Explicitly specify different metadata & config centers will also stop reusing the registry cluster.
  # config-center:
    # address: apollo://host:port
  # metadata-report:
    # address: nacos://host:port