
# Nacos 注册中心配置说明 https://cn.dubbo.apache.org/zh-cn/overview/mannual/java-sdk/reference-manual/registry/nacos/
# Nacos will be also used as registry and metadata centers by default, use the following configuration to stop using registry as metadata and config center.
# dubbo.registry.useAsMetadataCenter=false
# dubbo.registry.useAsConfigCenter=false
# Explicitly specify different metadata & config centers will also stop reusing the registry cluster.
# dubbo.metadata-report.address=zookeeper://host:port
# dubbo.config-center.address=apollo://host:port
dubbo.registry.address: nacos://${nacos.address:127.0.0.1}:8848