# Enable QoS endpoint to monitor and manage Dubbo instance and the services inside
# https://cn.dubbo.apache.org/zh-cn/overview/mannual/java-sdk/reference-manual/qos/overview/
dubbo:
  application:
    qos-accept-foreign-ip: false
    qos-enable: true
    qos-port: 22222
