dubbo.application.name=provider
dubbo.protocol.name=dubbo
dubbo.protocol.port=-1
dubbo.registry.id=zk-registry
dubbo.registry.address=zookeeper://127.0.0.1:2181
dubbo.config-center.address=zookeeper://127.0.0.1:2181
dubbo.metadata-report.address=zookeeper://127.0.0.1:2181
dubbo.service.{{basePackage}}.serialization=fastjson2