
# Apollo as config center
# https://cn.dubbo.apache.org/zh-cn/overview/mannual/java-sdk/reference-manual/config-center/apollo/
dubbo.config-center.address=apollo://${apollo.address:127.0.0.1}:8080
# dubbo.config-center.namespace=xxx
# dubbo.config-center.group=xxx