spring:
  http:
    converters:
      preferred-json-mapper: gson

  # gson:
    # Format to use when serializing Date objects.
    # date-format:

    # Whether to disable the escaping of HTML characters such as '<', '>', etc.
    # disable-html-escaping:

    # Whether to exclude inner classes during serialization.
    # disable-inner-class-serialization:

    # Whether to enable serialization of complex map keys (i.e. non-primitives).
    # enable-complex-map-key-serialization:

    # Whether to exclude all fields from consideration for serialization or deserialization that do not have the "Expose" annotation.
    # exclude-fields-without-expose-annotation:

    # Naming policy that should apply to an object's field during serialization and deserialization.
    # field-naming-policy:

    # Whether to generate non-executable JSON by prefixing the output with some special text.
    # generate-non-executable-json:

    # Whether to be lenient about parsing JSON that doesn't conform to RFC 4627.
    # lenient:

    # Serialization policy for Long and long types.
    # long-serialization-policy:

    # Whether to output serialized JSON that fits on a page for pretty printing.
    # pretty-printing:

    # Whether to serialize null fields.
    # serialize-nulls:
