package {{basePackage}}.dubbo.service;

import {{basePackage}}.dubbo.api.DubboGreeterTriple.GreeterImplBase;
import {{basePackage}}.dubbo.api.GreeterReply;
import {{basePackage}}.dubbo.api.GreeterRequest;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import org.apache.dubbo.config.annotation.DubboService;

@DubboService
public class GreeterImpl extends GreeterImplBase {
    private static final Logger LOGGER = LoggerFactory.getLogger(GreeterImpl.class);

    @Override
    public GreeterReply greet(GreeterRequest request) {
        LOGGER.info("Server received greet request {}" , request);
        return GreeterReply.newBuilder()
                .setMessage("hello," + request.getName())
                .build();
    }

}
