# SMS Console: https://dysms.console.aliyun.com
spring:
  cloud:
    alicloud:
      sms:
        # Status report receiving queue name
        report-queue-name: '******'
        # Upstream message receiving queue name
        up-queue-name: '******'
