spring:
  datasource:
    # Database Driver:
    driver-class-name: com.mysql.cj.jdbc.Driver
    # Datasource Name
    name: defaultDataSource
    # Database Connection URL
    url: jdbc:mysql://localhost:3306/blue?serverTimezone=UTC
    # Database Username & Password:
    username: '***'
    password: '***'
