
# dubbo zookeeper注册中心说明  https://cn.dubbo.apache.org/zh-cn/overview/mannual/java-sdk/reference-manual/registry/zookeeper/
# zookeeper 配置项手册 https://cn.dubbo.apache.org/zh-cn/overview/mannual/java-sdk/reference-manual/config/properties/#registry
dubbo.registry.address=zookeeper://${zookeeper.address:127.0.0.1}:2181